<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
      <mat-toolbar color="accent">條件</mat-toolbar>
      <h4>搜尋</h4>
    <mat-form-field>
      <mat-label>
        <mat-icon>search</mat-icon>
        關鍵字
      </mat-label>
      <input type="text" name="搜尋文章" matInput/>
      <mat-hint>輸入關鍵字搜尋景點</mat-hint>
    </mat-form-field>
    <br>
    <br>
    <mat-divider></mat-divider>
    <h4>所在地區</h4>
    <mat-form-field>
      <mat-select placeholder="地區" multiple>
        <mat-option *ngFor="let zone of zoneData" [value]="zone">{{zone}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-divider></mat-divider>
    <h4>分類</h4>
    <mat-checkbox>付費</mat-checkbox>
    <br>
    <mat-checkbox>全天候開放</mat-checkbox>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="accent">
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>HaveFun</span>
      </mat-toolbar>
      <mat-card *ngFor="let item of recordsData">
          <mat-card-header>
            <mat-card-title>{{item.Name}}</mat-card-title>
            <mat-card-subtitle>
              <mat-icon>location_on</mat-icon>{{item.Add}}</mat-card-subtitle>
            <img mat-card-avatar src="{{item.Picture1}}" />
          </mat-card-header>
          <!-- <img mat-card-lg-image src="{{item.Picture1}}" /> -->
          <mat-card-content>{{item.Description}}</mat-card-content>
          <div>
            <mat-chip-list>
              <mat-chip *ngIf="item.free">免費參觀</mat-chip>
              <mat-chip *ngIf="item.allOpen">全天候開放</mat-chip>
            </mat-chip-list>
            <br>
            <mat-icon>access_time</mat-icon> {{item.Opentime}} &nbsp;
            <mat-icon>phone</mat-icon> {{item.Tel}}
          </div>
        </mat-card>
    </mat-sidenav-content>
  </mat-sidenav-container>
  